{% extends 'cs261/main.html' %}
{% load staticfiles %}

{% block head %}
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <script>

        // Not to be confused with AdBlock.
        function addBlock(text, useText) {
            useText = useText || false;
            const $block = $('<div class="panel"></div>');
            useText ? $block.text(text) : $block.append(text);
            $('#form').before($block);
        }

        function doQuery() {
            const $input = $('input[type="text"]');
            const q = $input.val().trim();
            if (q == '') return;
            $input.val('');
            addBlock(q, true);

            $input.parent().addClass('is-loading');
            $('.button').attr('disabled', '')


            $.get('/query', {q: q}, function(data, status, xhr) {
                console.log(data);
                $input.parent().removeClass('is-loading');
                $('.button').attr('disabled', false);
                addBlock($('<strong>' + data + '</strong>'));
                $input.focus();
            });

            //$input.focus();
        }

        $(function() {
            $('.button').click(doQuery);
            $('input[type="text"]').keypress(function(e) {
                if(e.key === 'Enter') doQuery(e);
            });
        });
    </script>
{% endblock %}

{% block body %}

<div class="box">
    <div class="panel" id="form">
        <div class="field has-addons">
            <div class="control is-expanded">
                <input class="input" autofocus maxlength=254 type="text" placeholder="Query">
            </div>
            <div class="control">
                <a class="button is-info">Send</a>
            </div>
        </div>
    </div>

</div>
{% endblock %}
